<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.DerbyDialect</property>
    <property name="hibernate.connection.driver_class">org.apache.derby.jdbc.ClientDriver</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/blog</property>
    <property name="hibernate.connection.username">blog</property>
    <property name="hibernate.connection.password">blog</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.yeamanan.blog.model.User" />
    <mapping class="com.yeamanan.blog.model.Comment" />
    <mapping class="com.yeamanan.blog.model.Article" />
  </session-factory>
</hibernate-configuration>
